<div class="a-header d-flex flex-row justify-content-start align-items-center bg-dark">
    <span class="lead fw-bold m-0 text-light" >Reserva Fácil</span>
    <span class="ms-3 small mute text-light" >Admin</span>
</div>