<div class="e-header d-flex flex-row justify-content-start align-items-center w-100 bg-light shadow">
    <span class="lead fw-bold m-0"> Reserva Fácil </span>
    <span class="ms-3 mute"><%= (entranceType === "L") ? "Ingreso" : "Registro" %> </span>
  </div>