<div class="header d-flex flex-row align-items-center justify-content-center w-100 bg-light shadow">
  <span class="h1 m-0"> Reserva Fácil </span>
  <a class="" href="/logout">Cerrar sesion</a>
</div>
